@font-face {
    font-family: light;
    src: url("./fonnts.com-Aeonik-Regular.ttf") format("truetype");
    font-weight: 300;
}

@font-face {
    font-family: normal;
    src: url("./fonnts.com-Aeonik-Regular.ttf") format("truetype");
    font-weight: 500;
}

@font-face {
    font-family: bold;
    src: url("./fonnts.com-Aeonik-Bold.ttf") format("truetype");
    font-weight: 700;
}

:root {
    --pri: #F6F0D7;
    --sec: #C5D89D;
    --tri1: #9CAB84;
    --tri2: #89986D;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html,
body {
    height: 100%;
    width: 100%;

}

body {
    min-height: 100vh;
}

#main {
    height: 100%;
    width: 100%;
    background-color: var(--pri);
}

.nav {
    height: 60px;
    width: 100%;
    background-color: var(--tri1);
}

section.allElem {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    padding: 40px;
    gap: 30px;
    font-family: light;
    font-weight: 300;
    position: absolute;
}

.elem {
    height: 330px;
    width: 265px;
    background-color: var(--sec);
    border-radius: 10px;
    transition: transform ease 0.2s;
    overflow: hidden;
    position: relative;
    cursor: pointer;

}

.elem:active {
    transform: scale(0.97);
}

.elem img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    font-size: 30px;
}

.elem h1 {
    position: absolute;
    bottom: 5%;
    right: 5%;
    color: white;

}

.fullElem {
    height: 100%;
    width: 100%;
    background-color: var(--tri2);
    display: none;
    position: absolute;
}

.fullElem h2 {
    font-family: bold;
    font-weight: 700;
    font-size: 55px;
    padding: 20px 30px;
    margin-top: 2%;
    color: var(--pri);
}

.back {
    font-family: bold;
    font-size: 23px;
    padding: 7px;
    cursor: pointer;
    color: #000000;
    background-color: var(--sec);
    border: none;
    right: 5%;
    position: absolute;
    top: 7%;
    border-radius: 7px;
}

.back:active {
    transform: scale(0.97);
    background-color: rgba(151, 149, 149, 0.845);

}


.todo-container {
    display: flex;
    height: calc(100% - 180px);
    width: 100%;
    padding: 50px;
    gap: 20px;
}

.todo-container .left {
    width: 33%;
    background-color: var(--tri1);
    border-radius: 10px;
    /* align-items: center;
    display: flex;
    flex-direction: column; */
}

.todo-container .left form {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    padding: 0px 30px;
}

.todo-container .right {
    width: 67%;
    background-color: var(--tri1);
    border-radius: 10px;
    overflow: auto;
}

.todo-input {
    width: 100%;
    padding: 10px;
    margin: 20px 0px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    margin-top: 10%;
    background-color: var(--pri);
}

#textarea {
    width: 100%;
    height: 280px;
    margin: 20px 0px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    resize: none;
    font-family: normal;
    background-color: var(--pri);
}

.add-btn {
    padding: 10px 20px;
    margin: 20px, 0px;
    width: 100%;
    border: none;
    border-radius: 5px;
    background-color: var(--sec);
    cursor: pointer;
    font-size: 20px;
    font-family: bold;
}

.add-btn:active {
    transform: scale(0.97);
}

.mark-imp {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 17px;
    font-family: normal;
    width: 100%;
    padding: 10px 0px;
    margin-bottom: 10px;
}

.mark-imp #imp-checkbox {
    scale: 1.8;
}


.task {
    background-color: var(--pri);
    margin: 20px;
    padding: 15px;
    border-radius: 5px;
    font-size: 23px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: bold;

}

.task h4 {
    display: flex;
    align-items: center;
    gap: 6px;
    overflow: hidden;
    width: 38rem;
}

.task h4 span {
    background-color: red;
    color: var(--pri);
    padding: 4px 6px;
    border-radius: 50px;
    font-size: 13px;
    font-family: bold;

}

.task h4 span.true {
    opacity: 1;
}

.task h4 span.false {
    opacity: 0;
}

.task button {
    padding: 7px 15px;
    border: none;
    border-radius: 5px;
    background-color: rgba(102, 255, 112, 0.845);
    cursor: pointer;
    font-size: 17px;
    font-family: bold;
}

.task button:active {
    transform: scale(0.97);
    background-color: rgba(151, 149, 149, 0.845);

}

.task .arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    cursor: pointer;

}

.details {
    background-color: var(--sec);
    margin: -10px 20px;
    border-radius: 5px;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: light;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    padding: 0 20px;
    color: #292828;
    transition: all 0.4s ease;
}

.details.active {
    max-height: 170px;
    /* content ke hisab se adjust karo */
    opacity: 1;
    padding: 20px;
}

.daily-fullpage h2 {
    font-size: 50px;
}

.daily-fullpage .daily-container {
    background-color: var(--tri1);
    height: 75%;
    margin-top: 40px;
    width: 95%;
    border-radius: 10px;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    overflow: auto;
    justify-content: space-between;
    margin-left: 35px;
}

.daily-fullpage .daily-container .input-section {
    display: flex;
    align-items: center;
    position: relative;
    width: 49%;
    margin-bottom: 15px;
}

.daily-fullpage .daily-container .input-section p {
    position: absolute;
    top: 10%;
    left: 2%;
    font-size: 18px;
}

.daily-container .input-section input {
    padding: 20px 45px;
    width: 100%;
    background-color: var(--sec);
    border-radius: 5px;
    border: none;
    font-size: 32px;
    padding-top: 34px;
    outline: none;
}

.moti-fullpage .motivation-container {
    height: 500px;
    width: 60%;
    position: absolute;
    border-radius: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.moti-fullpage .motivation-container::after {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: var(--pri);
    border-radius: 50px;
    scale: 1.15;
    filter: blur(150px);
    z-index: 8;
}

.motivation-container .motivation-wrapper {
    z-index: 10;
    position: absolute;
    width: 100%;
    background-color: var(--pri);
    padding: 17px;
    border-radius: 30px;
    border: 10px solid var(--sec);
}

.motivation-container .motivation-wrapper img {
    height: 80px;
    position: absolute;
    top: 5%;
    right: 5%;
    opacity: 0.3;
}

.motivation-1 {

    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.motivation-1 h1 {
    background-color: var(--sec);
    padding: 20px;
    border-radius: 20px;
    font-size: 40px;
    font-family: bold;
}

.quote {
    padding: 25px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.quote h1 {
    font-size: 45px;
    font-family: bold;
    color: black;
}

.author {
    display: flex;
    align-items: center;
    justify-content: flex-end;

}

.author h3 {
    margin-top: 30px;
    font-size: 40px;
    font-family: normal;
    padding: 20px;
    border-radius: 20px;
    background-color: var(--sec);
    width: fit-content;
    text-align: right;
}

.pomo-fullpage {
    display: block;}

.fullElem .pomo-fullpage h2 {
    font-size: 50px;}

.pomo-fullpage .pomo-timer {
    top: 50%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.pomo-fullpage .pomo-timer h1 {
color: var(--pri);
    font-size: 150px;
    font-family: bold;
    margin-bottom: 30px;
}

.pomo-fullpage .pomo-timer button {
    padding: 10px 30px;
    margin: 0px 10px;
    border: none;
    border-radius: 5px;
    background-color: var(--sec);
    cursor: pointer;
    font-size: 20px;
    font-family: bold;
    box-shadow: 6px 6px 5px rgba(0, 0, 0, 1.1);   
}

.pomo-fullpage .pomo-timer button:active {
    transition: transform 0.1s ease;
    transform: scale(0.97);
}